NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_dG9waWNhbC1tYWNhdy01MC5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_gYQROP8BY7epb6NV4MOASmCFMkffd5gXS9Srk04bNa
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_FIREBASE_API_KEY="AIzaSyC6NpnDGKgojWdQzYLxlzLfM95JMs1IWKc"
NEXT_PUBLIC_LIVEBLOCK_PK="pk_dev_6feOTRg8G28_AqGFExaPHEontV9Q50uQ3FwJFhR53s30UAMckPzM9_LvQ48_uzaf"
LIVEBLOCK_SK=sk_prod_HGQsh0Xnx_Swr8Jb0-HpCirethpoZgtWfnDITJut41keAcYrxcGV1EvO2okJGvBT
NEXT_PUBLIC_GEMINI_API_KEY=AIzaSyDtmuaXXsFJb1VIPTkpwK9RoCRy0gDEdMQ