NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_dG9waWNhbC1tYWNhdy01MC5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_gYQROP8BY7epb6NV4MOASmCFMkffd5gXS9Srk04bNa
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_FIREBASE_API_KEY="AIzaSyC6NpnDGKgojWdQzYLxlzLfM95JMs1IWKc"
LIVEBLOCK_SK=sk_prod_HGQsh0Xnx_Swr8Jb0-HpCirethpoZgtWfnDITJut41keAcYrxcGV1EvO2okJGvBT
NEXT_PUBLIC_GEMINI_API_KEY=AIzaSyDtmuaXXsFJb1VIPTkpwK9RoCRy0gDEdMQ
NEXT_PUBLIC_DRIZZLE_DB_URL='postgresql://ss_owner:e8NwCa5GhZSm@ep-spring-shape-a5h9pbjg.us-east-2.aws.neon.tech/ss?sslmode=require'
NEXT_PUBLIC_INTERVIEW_QUESTION_COUNT=5
NEXT_PUBLIC_INFORMATION="Enable video Web Cam and Micraphone to Start the Interview"
NEXT_PUBLIC_QUESTION_NOTE="Click on Record Answer when you want to answer the question"